.carousel {
  margin: 100px auto;
  overflow: hidden;
  display: flex;
  > * {
    flex: 0 0 100%;
  }
}

.card {
  width: full;
  color: white;
  border-radius: 24px;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}
.group {
  display: flex;
  gap: 20px;
  /* Add padding to the right to create a gap between the last and first card. */
  padding-right: 20px;
  will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
  animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
